/* src/tarjeta.css */
.tarjeta {
    margin-top: 1;
    width: 100%;
    height: auto;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    border:  1px solid red;
}

button {
    width: 200px;
    height: 40px; 
    border-radius: 15px;
    background-color: rgb(121, 237, 100);
    color: rgb(0, 0, 0); 
    border: none;
    cursor: pointer; 
    padding: 10px 20px;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: rgb(77, 102, 101); 
    color: white; 
}
