/* src/tarjeta.css */
.tarjeta {
    width: 100%;
    height: auto; /* Permite que la altura se ajuste al contenido */
    padding: 20px; /* Agrega padding para que el contenido no esté pegado a los bordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para dar un efecto de profundidad */
    
    border-radius: 10px; /* Bordes redondeados */
}

button {
    width: 200px;
    height: 40px; /* Aumenta la altura para mayor accesibilidad */
    border-radius: 15px;
    background-color: rgb(121, 237, 100);
    color: rgb(0, 0, 0); /* Color del texto del botón */
    border: none; /* Elimina el borde predeterminado del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    padding: 10px 20px; /* Corrige el padding, no debe estar entre comillas */
    transition: background-color 0.3s ease; /* Añade una transición suave al hover */
}

button:hover {
    background-color: rgb(3, 3, 3); /* Cambia el fondo en hover */
    color: white; /* Mantiene el color del texto en hover */
}
